<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asksven.betterbatterystats"
    android:installLocation="internalOnly"
    android:versionCode="2"
    android:versionName="1.2.0.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.DUMP" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:icon="@drawable/icon_notext"
        android:label="BetterBatteryStats"
        android:theme="@style/Theme.Bbs">
        <activity
            android:name="com.asksven.betterbatterystats.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="BetterBatteryStats" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>